workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1280,
        -496
      ],
      "id": "1854936d-bef0-4204-ab19-9ad24e718764",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1936,
        -16
      ],
      "id": "2b7e0fbb-2192-47d3-bb14-57922990e845",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const randomNumber = Math.floor(Math.random() * 10) + 1;\nreturn { randomNumber };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        -496
      ],
      "id": "d3882c92-fffd-44bd-9140-5dcf8ecc4ef0",
      "name": "Code1"
    },
    {
      "parameters": {
        "numberInputs": 9,
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0b669581-1460-4ed2-9f8e-d2a28f58f885",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "372e3c69-94b5-4bfe-8c78-298378c70bab",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "5247ce6f-c6be-48c0-9215-d6e77d2db12f",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "e8e68a59-62e7-47af-8158-9178496e0e7a",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "be8b415b-6d6d-4820-8213-bc5af2a2a3a7",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "c5ea01ab-3af4-46fe-ac35-e1d8aa5a130a",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "588de845-271c-4d86-9144-8e08cd746d66",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "8",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "0a84630d-1f6b-415b-a557-61f935ddfc78",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "628e76e6-fa73-4d43-8e28-27e435e533b4",
                    "leftValue": "={{ $('Code1').first().json.randomNumber.toString() }}",
                    "rightValue": "10",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        -1568,
        -288
      ],
      "id": "b6fb7d5a-5a5e-41b8-bb65-481c3f559395",
      "name": "Model Selector"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1808,
        -16
      ],
      "id": "9fefaa28-8174-4e98-874f-b9fef4713ff5",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1680,
        -16
      ],
      "id": "0bacecde-3593-4758-9fa1-2dbce531ecc7",
      "name": "Google Gemini Chat Model2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1040,
        -16
      ],
      "id": "de1fcfb6-51a6-4724-8d0e-d74d3dfd4026",
      "name": "Google Gemini Chat Model3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1552,
        -16
      ],
      "id": "7cb9818b-413a-410a-b995-b6e7f9b2172e",
      "name": "Google Gemini Chat Model4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1424,
        -16
      ],
      "id": "0e8b2a68-569f-4f5d-bdaf-618c3ddb3841",
      "name": "Google Gemini Chat Model5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1296,
        -16
      ],
      "id": "7cc5a17e-acf7-44a7-98d9-dc262578326a",
      "name": "Google Gemini Chat Model6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1168,
        -16
      ],
      "id": "537f88bc-3be7-44f2-9541-30fe6bfdbf6e",
      "name": "Google Gemini Chat Model7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        -16
      ],
      "id": "e75c3144-829b-4d3e-8766-6dc673b6d1c8",
      "name": "Google Gemini Chat Model8"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 2
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 7
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 3
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 4
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 5
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 6
          }
        ]
      ]
    },
    "Google Gemini Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 8
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c226450a88622e8cf54ed368e46d569dfb4938256f61df546c66a4f586259bb6"
  }
}
